/* ==============================
        common css start
   ============================== */
* {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a,
a:focus,
a:hover {
    text-decoration: none;
    display: inline-block;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.zakat-flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zakat-flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==============================
        common css start
   ============================== */
/* ==============================
        typography css start
   ============================== */
.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 48px;
    color: #000000;
}

.logo span {
    color: #fff;
}

.nav-iteams {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    color: #000000;
}

.main-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 62px;
    font-weight: 600;
    line-height: 70px;
    color: #fff;
}

.sub-heading-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 34px;
    color: #000000;
}

.sub-heading3 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    color: #000000;
}


.card-heading {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 600;
    line-height: 34px;
    color: #000000;
}

.card-heading2 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 28px;
    color: #010101;
}

.pragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
}

.card-pragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #f5f5f5;
    font-weight: 400;
}

.card-pragraph2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #010101;
    font-weight: 500;
}

.footer-pragraph {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    font-weight: 400;
}

.footer-navlinks {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: #000000;
}

.footer-small {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    line-height: 18px;
    color: #ffffff;
    font-weight: 400;
}

.zakat-input {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #f5f5f5;
    background: #ffffff;
    border: none;
}


.title {
    margin-bottom: 50px;

}

.title h2 {
  
    position: relative;

}


.title h2::after{
    height: 2px;
    background: #fac42b;
    width: 120px;
    margin: 0 auto;
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
}
.title h2::before{
    height: 2px;
    background: #fac42b;
    width: 20px;
    margin: 0 auto;
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
}
.title p {
    color: #707070;
    width: 690px;
    margin: 0 auto;
    padding-top: 30px;
}

/* ==============================
        typography css end
   ============================== */
/* ==============================
        buttons css start
   ============================== */
.zakat-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    background-color: #fac229;
    color: #fff;
    padding: 15px 25px;
    transition: .4s;

}

.zakat-btn:hover {
    background: #000000;
    color: #fac42b;

}

.subscribe-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    background-color: #000000;
    color: #fff;
    padding: 0 25px;
    border: none;
    height: 50px;
    cursor: pointer;
    transition: .4s;
}

.subscribe-btn:hover {
    background: #fff;
    color: #000;

}

/* ==============================
        buttons css end
   ============================== */

/* ==============================
        header css start
   ============================== */

header {
    padding-bottom: 80px;
}

header nav {
    background: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

header nav .zakat-logo span {
    background: #fac42b;
    padding: 0 5px;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav ul li a {
    transition: .4s;
    position: relative;
}

header nav ul li a:after {
    width: 0%;
    height: 3px;
    background: #fac42b;
    position: absolute;
    bottom: -5px;
    left: 0;
    content: '';
    transition: .4s;
}

header nav ul li a:hover {
    color: #fac42b;
}

header nav ul li a:hover::after {
    width: 100%;
}

header .hero-part {
    background: url(../images/banner.png ) no-repeat center;
    background-size: cover;
    padding: 200px 0;
}

header .hero-part h1 {
    margin-bottom: 20px;
}

header .hero-part p {
    width: 500px;
}

header .hero-part a {
    margin-top: 30px;
}

/* ==============================
        header css end
   ============================== */
/* main sections start */

/* ==============================
        send-zakat css start
   ============================== */
#send-zakat {
    padding-bottom: 120px;
}

#send-zakat .title{
    text-align: center;
}
#send-zakat .title h2::after{
    left: 44%;
    width: 110px;
}
#send-zakat .title h2::before{
    left: 54%;
}

#send-zakat .zakat-form .select-one {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 60px;
}

#send-zakat .zakat-form .select-one input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

#send-zakat .zakat-form .select-one label {
    display: inline-block;
    background: #fafafa;
    margin-right: 20px;
    width: 135px;
    text-align: center;
    color: #707070;
    border: 3px solid transparent;
    padding: 40px 0;
    border-radius: 5px;
    transition: .4s;

}

#send-zakat .zakat-form .select-one label:hover {
    border: 3px solid #fac42b;
    color: #fac42b;
    background: rgba(250, 196, 43, 0.1);
}

#send-zakat .zakat-form .select-one input[type="radio"]:checked+label {
    border: 3px solid #fac42b;
    color: #fac42b;
    background: rgba(250, 196, 43, 0.1);
}

#send-zakat .zakat-form .other-amount {
    text-align: center;
}

#send-zakat .zakat-form .other-amount .amount-area {
    border: 0;
    border-bottom: 2px solid #DADADA;
    width: 765px;
    text-align: center;
    color: #707070;
    margin-bottom: 60px;
    padding-bottom: 10px;
}

#send-zakat .zakat-form .other-amount .amount-area:focus {

    outline: 0;
}

#send-zakat .zakat-form .other-amount .amount-area:focus-visible {

    outline: 0;
}

#send-zakat .zakat-form .other-amount button {
    border: 0;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

/* ==============================
        send-zakat css end
   ============================== */
/* ==============================
        about-us css start
   ============================== */
#about-us {
    padding-bottom: 80px;
}
#about-us .title h2::after{
    left: 3%;
    width: 80px;
}
#about-us .title h2::before{
    left: 18%;
}
#about-us .about-main {
    display: flex;
    justify-content: space-between;
}

#about-us .about-main .about-image {
    width: 400px;
    height: 500px;
}

#about-us .about-main .about-image img {
    width: 100%;
    height: 100%;
}

#about-us .about-main .about-text {
    width: 50%;
    padding-top: 70px;
}

#about-us .about-main .about-text h2 {
    margin-bottom: 40px;
}

#about-us .about-main .about-text p {
    color: #000000;
    margin-bottom: 30px;
}

/* ==============================
        about-us css end
   ============================== */
/* ==============================
        programs css start
   ============================== */

#programs {
    padding-bottom: 80px;
}

#programs .program-main {
    display: flex;
    justify-content: space-between;
}

#programs .program-main .card {
    background: #fff;
    width: 25%;
    padding: 15px 15px 15px 15px;
    transition: .4s;
}

#programs .program-main .card .card-icons i {
    font-size: 52px;
    color: #fac42b;
    margin-bottom: 15px;
    transition: .4s;
}

#programs .program-main .card h3 {
    color: #000000;
    margin-bottom: 10px;
    transition: .4s;
}

#programs .program-main .card p {
    color: gray;
    transition: .4s;
}

#programs .program-main .card a {
    margin-top: 20px;
    padding: 10px 20px;
    background: #ffffff;
    color: #ffffff;
    transition: .4s;
}

#programs .program-main .card:hover {
    background: #fac42b;
}

#programs .program-main .card:hover i {
    color: #000000;
}

#programs .program-main .card:hover h3 {
    color: #ffffff;
}

#programs .program-main .card:hover p {
    color: #000000;
}

#programs .program-main .card:hover a {
    background: #000000;

}

#programs .program-main .card a:hover {
    color: #fac42b;
}

/* ==============================
        programs css end
   ============================== */
/* ==============================
        vlounteer css start
   ============================== */
#our-volunteer {
    padding-bottom: 50px;
}
#our-volunteer .title{
    text-align: center;
}
#our-volunteer .title h2::after{
    left: 43%;
}
#our-volunteer .title h2::before{
    left: 54%;
}
#our-volunteer .zakat-volunteer {
    display: flex;
    justify-content: space-between;
    height: 450px;
}

#our-volunteer .zakat-volunteer .volunteer-card {
    width: 22%;
    transition: .4s;

}

#our-volunteer .zakat-volunteer .volunteer-card .card-image {

    height: 280px;

}

#our-volunteer .zakat-volunteer .volunteer-card .card-image img {
    width: 100%;
    height: 100%;

}

#our-volunteer .zakat-volunteer .volunteer-card .card-text {
    text-align: center;
    transition: .4s;


}

#our-volunteer .zakat-volunteer .volunteer-card .card-text .card-social {
    transform: translate(0%, -50%);
}

#our-volunteer .zakat-volunteer .volunteer-card .card-text .card-social ul li {
    display: inline-block;
}

#our-volunteer .zakat-volunteer .volunteer-card .card-text .card-social ul li a i {
    font-size: 20px;
    color: #000000;
    width: 20px;
    height: 20px;
    background: #f5f5f5;
    border-radius: 50%;
    padding: 10px;
    line-height: 20px;
    text-align: center;
    transition: .4s;
    margin: 0 5px;

    -webkit-box-shadow: -2px 6px 14px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: -2px 6px 14px 0px rgba(0, 0, 0, 0.2);
    box-shadow: -2px 6px 14px 0px rgba(0, 0, 0, 0.2);
    display: none;

}

#our-volunteer .zakat-volunteer .volunteer-card .card-text .card-social ul li a i:hover {
    background: #000;
    color: #fac42b;
}

#our-volunteer .zakat-volunteer .volunteer-card .card-text h4 {
    margin-bottom: 10px;
}

#our-volunteer .zakat-volunteer .volunteer-card:hover .card-text ul li a i {
    display: block;
}

/* ==============================
        vlounteer css end
   ============================== */
/* ==============================
        slider css start
   ============================== */

#slider .slider-main ul {
    display: flex;
    justify-content: space-around;

}

#slider .slider-main ul li {
    width: 16.67%;
    height: 200px;
    position: relative;
}

#slider .slider-main ul li img {
    width: 100%;
    height: 100%;
}

#slider .slider-main ul li .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: none;
    transition: .4s;

}

#slider .slider-main ul li:hover .overlay {
    display: block;
}

/* ==============================
        slider css end
   ============================== */
/* main sections end */
/* ==============================
        footer css start
   ============================== */

footer .footer-main {
    display: flex;
    justify-content: space-between;
}

footer .footer-top {
    background: #fac42b;
    padding-top: 40px;
    padding-bottom: 50px;
}

footer .footer-top .footer-left a {
    margin-bottom: 20px;
}

footer .footer-top .footer-left a span {
    background: #fafafa;
    color: #fac42b;
    padding: 0 5px;
}

footer .footer-top .footer-left {
    width: 300px;
}

footer .footer-top .footer-left .social-icons {
    margin-top: 40px;
}

footer .footer-top .footer-left .social-icons ul li {
    display: inline-block;
    margin-right: 20px;
}

footer .footer-top .footer-left .social-icons ul li a i {
    font-size: 22px;
    color: #000000;
    width: 25px;
    height: 25px;
    background: #f5f5f5;
    border-radius: 50%;
    padding: 10px;
    line-height: 25px;
    text-align: center;
    transition: .4s;
}

footer .footer-top .footer-left .social-icons ul li a i:hover {
    background: #000000;
    color: #fff;
}

footer .footer-top .footer-center {
    width: 250px;
}

footer .footer-top .footer-center h4 {
    margin-bottom: 35px;
}

footer .footer-top .footer-center .pages {
    display: flex;
    justify-content: space-between;
}

footer .footer-top .footer-center .pages ul li a {
    margin-bottom: 10px;
    transition: .4s;
}

footer .footer-top .footer-center .pages ul li a:hover {
    color: #fff;
}

footer .footer-top .footer-right h4 {
    margin-bottom: 30px;
}

footer .footer-top .footer-right p {
    width: 400px;
}

footer .footer-top .footer-right form {
    margin-top: 40px;
}

footer .footer-top .footer-right input {
    height: 50px;
    width: 300px;
    padding: 0 10px;
    border: 0;
}

footer .footer-top .footer-right input:focus {
    outline: 0;
}

footer .footer-bototm {
    background: #000000;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ==============================
        footer css end
   ============================== */